{% extends 'base.html.twig' %}

{% block title %}Hello reviewer!{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/users.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/users.js') }}"></script>
{% endblock %}

{% block body %}
<div id="container">
    <div id="form" class="wrapper" hidden>
        <div id="table" class="table">
        </div>
    </div>
    <div id="start-block">
        <button id="start" class="lets-start">
            Get a list of users
        </button>
    </div>
</div>
{% endblock %}
